---
title: "Blogpost 4"
date: "2025-05-20"
---

Today I have continued to work on the individual character sites. I have written interviews with the last characters I have finsihed.
<br> And added new images so they match the name. I have also tried to style the individualsites so they look good. 
<br> Sadly I was not able to draw the last characters so I if they are new when we present our websites I hope it's okey. 
<br> Todays lesson I have mostly worked on my poster. 